/*
	Name:			Default Theme
	Author:			Thomas Chatting
	URL:			http://dg9t.eu/
	Version:		3.0.0
	Description:	The default theme for SquareCMS
*/
img 							{border: 0;}
html 							{font: 0.875em Helvetica, Arial, sans-serif; background: #F7F7F7; color: #333; line-height:1.5; margin: 0; padding: 0; width:100%;}
body							{margin:0;}
a								{color: #02478E; text-decoration: none;}
a:hover							{color: #003366;}
a:active 						{position: relative; top: 1px;}

header, .wrapper, footer 		{margin: 0 auto; width: 93.75%; max-width: 1280px; }
.container						{background: #fff; width: 100%; margin: 0; padding: 0; border-bottom: solid 1px #CCC;}
.wrapper						{padding-top: 10px;}
div.wrapper h1					{padding: 0; margin: 0;}
h1								{font-size: 42px; line-height: 1.0; padding-top: 10px;}
h2								{margin: 0; padding: 0; line-height: 1.0;}
.strip							{background: #E5841B; margin: 0; padding: 0; color: #FFF; height: 40px; font-size: 20px; line-height: 1.0; border-top: solid 1px #D07D12; border-bottom: solid 1px #D07D12;}
.strip ul						{width: 93.75%; margin: 0 auto; padding: 0; max-width: 1280px; list-style: none; list-style-image: none;}
.strip ul li					{display: inline-block; width: 100px; font-size: 16px; line-height: 40px; text-align: center; padding-top: 0; border-left: solid 1px #D07D12; padding: 0; margin: 0;}
.strip a						{color: #FFF; text-decoration: none;}
.strip a:hover					{color: #fff;}
.strip li:hover					{background: #D07D12;}
.strip span						{float: right; font-family: Georgia, Times, serif; font-style: italic;}

.strip							{margin-top: 10px;}
div.aside						{float: right; width: 25%; margin-top: 5px; border: 1px solid #E3E3E3; -moz-border-radius: .35714285714286em; border-radius: .35714285714286em; padding: 1em 1em 0; background: #F7F7F7;}
div.aside form input			{outline: 0; border: 1px solid #ccc; width: 170px;}
div.aside form input:focus		{outline: 0; border: 1px solid #333;}
div.aside button				{background: #ddd; border: 1px solid #333;}
div.content						{clear: left; float: left; width: 70%;}
div.content .article .main		{font-family: Georgia, Times, serif;}
h1 a		{color: #333;}
h1 a:hover	{color: #333; background: #e8e8e8; moz-border-radius: .11904761904762em; border-radius: .11904761904762em;}
div.content .article h1 span	{font-size: 14px; font-weight: normal;}
div.content .article .meta		{padding: 0; margin: 0;}
div.content .article .main		{padding-top: 10px;}
div.content .article .main h1, h2, h3, h4, h5, h6 {font-family: Helvetica, Arial, sans-serif; line-height: 1.21428571428571;}
div.content .article .main h1	{font-size: 3em;}
div.content .article .main h2	{font-size: 2em;}
div.content .article .main p 	{margin-top: 5px; display: block;}
div.content .article.archives	{padding-bottom: 25px;}
table							{font-family: Helvetica, Arial, sans-serif; border: 0; border-top: 1px solid #b4b4b4; border-left: 1px solid #b4b4b4;}
table th						{background: #efefef;}
table td,table th				{border-bottom: 1px solid #b4b4b4; border-right: 1px solid #b4b4b4; padding: 5px 7px;}
blockquote 						{ float: right; margin: 0 0 .875em .875em; width: 42.905405405405%; font-style: italic; margin: .875em 0 .875em 0; padding: 1px .875em; -moz-border-radius: .35714285714286em; border-radius: .35714285714286em; background:  #FFF6D3;}

footer							{clear: both; font-size: 12px;}

.lastPost, .right				{float: right;}
.nextPost, .left				{float: left;}
.nextPost a, .lastPost a, #share a {padding-left: 5px; padding-right: 5px;}
#share 							{text-align: center; min-height: 60px;}

#left							{margin-left: 20px !important;}
#tags 							{width:100%;}
#tags #left 					{width: 40%;}
#tags #right 					{width: 40%; margin-left: 40%;}
#tags h1 						{color: #444 !important; font-size: 10.5pt; text-shadow: 0 1px 1px #fff; margin-top: -27px;}
#tags#left.date 				{color: #444;}
.tag 							{color: #4C4F56; font-size: 10.5pt;}

hr 								{border: 0; border-top: 1px solid #ccc; clear: both;}

img, object						{max-width: 600px;}
pre, code						{max-width: 600px; overflow: auto;}
pre 							{border: 1px solid #ccc; border-radius: 5px; background: #fff; padding: 5px;}
pre::-webkit-scrollbar {-webkit-border-radius: 1ex; height: 1ex;}
pre::-webkit-scrollbar-thumb:horizontal {-webkit-border-radius: 1ex;background: rgba(0, 0, 0, .2);}

fieldset 						{border: 0; margin: 0; padding: 0;}
.clearfix 						{clear:both; display:block;}

div.comments 					{padding-top: 20px;}
div.comments h1 				{font-size: 1.5em; font-weight: normal;}
div.comments div.comment h1 	{display: inline-block;}
div.comments div.comment img 	{float: left; padding-right: 5px;}
div.comments div.comment span 	{display: block;}
div.comments div.comment div.com {clear:both; padding-left: 45px; padding-top: 5px; font-family: Georgia, Times, sans-serif;}
div.comments form label 		{display: block; padding-bottom: 10px;}
div.comments form input 		{width: 250px;}
div.comments form textarea 		{width: 400px; height: 150px; display: block;}
div.comments form button 		{margin-top: 10px; margin-bottom: 10px;}
pre, code, kbd, samp 			{font-family: Cousine, Consolas, "Lucida Console", Monaco, monospace;}
.footnote 						{color: #888;}
sub, sup 						{font-size: .85714285714286em;line-height: 0;position: relative;vertical-align: baseline;}
sup 							{top: -0.5em;}
img.align-left 					{float: left;margin: 1em 1em 1em 0;}
img.align-right					{float: right;margin: 1em 0 1em 1em;}
img.align-center 				{display: block;margin: 1em auto;}
table 							{margin-bottom: 1em;border-collapse: collapse;border-spacing: 0;width: 100%;display: table;border-color: gray;}
caption 						{font-style: italic;text-align: left;margin-bottom: .5em;display: table-caption;}
tfoot th, tfoot td 				{border-bottom: 0;padding: .33333333333333em .58333333333333em .33333333333333em 0;}
th:last-child, td:last-child 	{padding-right: 0;}
select 							{font-family: Arial, Helvetica, sans-serif;font-size: .85714285714286em;text-align: left;border: solid 1px #CCC;padding: .5em;background: white;outline: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
textarea, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] { font-family: Arial, Helvetica, sans-serif; font-size: .85714285714286em; text-align: left; border: solid 1px  #CCC; padding: .5em; background:  white; outline: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-appearance: none; -moz-border-radius: 0; border-radius: 0;}