<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteRule ^square/templates/* - [L,NC]
  RewriteCond $1 !^(index\.php|images|css|js|robots\.txt)
  RewriteCond %{REQUEST_URI} !(/$|\.)
  RewriteRule (.*) %{REQUEST_URI}/ [R=301,L]
  RewriteRule ^(.*)$ index.php [L]
</IfModule>
ErrorDocument 404 /404.html
